(cloudflare) {
  encode gzip
  tls {
    dns cloudflare {env.CLOUDFLARE_API_TOKEN}
  }
}

www.carekobooks.space {
  import cloudflare

  handle_path /api/* {
    reverse_proxy carekobooks-backend:8081 {
      header_up Host {host}
      header_up X-Real-IP {remote}
      header_up X-Forwarded-For {remote}
      header_up X-Forwarded-Proto {scheme}
      header_up X-Forwarded-Prefix /api
    }
  }

  handle_path /api/ws/* {
      reverse_proxy backend:8080 {
          header_up Upgrade {>Upgrade}
          header_up Connection {>Connection}
      }
  }

  handle_path /auth/* {
    reverse_proxy carekobooks-keycloak:8080 {
      header_up Host {host}
      header_up X-Real-IP {remote}
      header_up X-Forwarded-For {remote}
      header_up X-Forwarded-Host {host}
      header_up X-Forwarded-Server {host}
      header_up X-Forwarded-Port {server_port}
      header_up X-Forwarded-Proto {scheme}
    }
  }

  handle_path /s3/* {
    reverse_proxy carekobooks-minio:9000 {
      header_up Host {host}
      header_up X-Real-IP {remote}
      header_up X-Forwarded-For {remote}
      header_up X-Forwarded-Proto {scheme}
    }
  }

  handle {
    reverse_proxy carekobooks-frontend:3000 {
      header_up Host {host}
      header_up X-Real-IP {remote}
      header_up X-Forwarded-For {remote}
      header_up X-Forwarded-Proto {scheme}
    }
  }
}
